.navbar-brocante {
  justify-content: space-between;
  background: $ocher;
  color: #ffedd3;
}

.navbar-brocante .navbar-collapse {
  flex-grow: 0;
}

.navbar-brocante .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: $blue !important;
}

.nav-profil {
  color: white !important;
  margin: 8px 8px 0px 8px;
}
